/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-button-color: #f1f1f1;
  --navbar-button-hover: #a3a3a3;
  --navbar-button-pressed: #8a8a8a;
  --navbar-button-active: #535353;
}

body {
  background-color: #181818;
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  background-color: #c2c2c2;
  justify-content: center;
  flex-grow: 0;
}

nav button {
  padding: 1rem;
  width: 150px;
  font-size: 1rem;
  border: 0;
  background-color: #f1f1f1;
}

nav button:hover {
  background-color: var(--navbar-button-hover);
}

nav button:active {
  background-color: var(--navbar-button-pressed);
}

.buttonActive {
  background-color: var(--navbar-button-active);
}

#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 3rem);
  justify-content: center;
  align-items: center;
}

#content button {
  margin-top: 2rem;
  padding: 0.7rem 1.7rem;
  font-weight: 700;
  font-size: 1rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 1.5rem;
}

/* Menu Section */
.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  height: 100%;
}

.schedule-div {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  height: 3rem;
  gap: 2rem;
  margin-bottom: 2rem;
}

.schedule-block {
  display: flex;
  justify-content: center;
  background-color: green;
  width: 180px;
  padding: 1rem;
}
