/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0353a4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  background-color: #b9d6f2;
  justify-content: center;
  flex-grow: 0;
}

nav button {
  padding: 1rem;
  width: 150px;
  font-size: 1rem;
  border: 0;
}

nav button:hover {
  background-color: #575f66;
}

nav button:active {
  background-color: #4e5a64;
}

.buttonActive {
  background-color: #4e5a64;
}

#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 3rem);
  justify-content: center;
  align-items: center;
}

#content button {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 1rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 1.5rem;
}
